@import "./assests/colors.scss";

html, body {
  scroll-behavior: smooth;
  margin: 0;
  background-color: $background !important;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 

  &::-webkit-scrollbar{
    display: none;
  }
}


header {
  width: 100vw;
  height: 80px;  
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(black, colors 100%);

  a{
    padding: 15px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    display: block;
  }
}

.footer{
  width: 100%;
  height: 45px;
  background-color: rgb(14, 14, 14);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: absolute;
  bottom: -45px;
  left: 0;

  p, a {
    margin: 0;
    padding: 10px;
  }
}

.link{
  color: $link-text;
  transition: all ease .2s;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    color: rgba($link-text,.5);
  }
}

@media only screen and (max-width: 540px) {
  .footer{
    font-size: 12px;
  }
}
@media only screen and (max-width: 380px) {
  .footer{
    font-size: 8px;
  }
}

