@import "./assests/colors.scss";

$randomWidth: random(100);

.modal-content {
    background-color: $background !important;
    color: white;

    h2 {
        color: $text-color;
    }

    .modal-body {
        div {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            .poster {
                
                width: 30%;
                float: left;
                overflow: hidden;

                img {
                    width: 90%;
                    padding: 5%;
                    
                }
            }

            .description {
                flex-direction: column;
                width: 70%;
                p{
                    color: $text-color;
                    margin: 10px;
                    span {
                        margin-left: 10px;
                        color: white;
                    }
                }

                ul {
                    list-style: none;
                    padding: 0;
                    color: $text-color;

                    li {
                        margin: 10px;
                        span {
                            margin-left: 10px;
                            color: white;
                        }

                    }
                }
            }
        }
        .preview{
            .poster>div{
                width: 207px;
                padding: 5%;
                height: 272px;
                border-radius: 5px;
                display: block;
                background: $loadingBackground;
                background-size: 300% 300%;
                -webkit-animation: rainbow 5s ease infinite;
                -z-animation: rainbow 5s ease infinite;
                -o-animation: rainbow 5s ease infinite;
                animation: rainbow 5s ease infinite;
            }
            .description{
                div{
                    border-radius: 5px;
                    margin-left: 10px;

                    background: $loadingBackground;
                    background-size: 300% 300%;
                    -webkit-animation: rainbow 18s ease infinite;
                    -z-animation: rainbow 18s ease infinite;
                    -o-animation: rainbow 18s ease infinite;
                    animation: rainbow 18s ease infinite;
                }
                >div{
                    width: 280px;
                    height: 38px;
                } 
                ul>li
                {
                   
                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}) { 
                            div{
                                width: random(50) + 150 + px;
                                display: inline-block;
                                height: 13px;
                            }
                        }
                    }   
                } 
                
                p{
                    margin-right: 10px;
                    >div{
                        
                        display: inline-block;
                        height: 13px;
                        margin-left: 0px;
                        @for $l from 1 through 15 {
                            &:nth-child(#{$l}) { 
                                width: random(100) + 400 + px;
                            }
                        } 
                    }
                }
               
            }
        }
    }

    .modal-footer {
        border: none;

        >button, a {
            background-color: $background;
            border-color: $text-color;
            margin: 5px;

            span {
                color: $text-color;
            }

            &:active {
                background-color: $text-color !important;
                border-color: $text-color !important;

                span {
                    color: white;
                }
            }

            &:focus {
                box-shadow: 0 0 0 0.2rem rgba($link-text, .2) !important;
            }

            &:hover:not(.active) {
                background-color: rgba($text-color, .5);
            }
            &.active{
                background-color: $text-color !important;
                border-color: $text-color !important;
                background-color: rgba($text-color, .9) !important;
            }
            &:last-child{
                background-color: rgba(109, 24, 24, 0.316);
                color: red;
                border-color: red;
                width: 100%;
                display: none;
            }
        }
        

    }
}
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
 
@media only screen and (max-width: 900px) {
    p, li{
        font-size: 12px;
    }
  }
@media only screen and (max-width: 540px) {
    p, li{
        font-size: 10px;
    }
    .movieModalButtons{
        button, a{
            margin: 0 0 10px 0 !important;
            font-size: 13px !important;
            width: 100%;
            &:last-child{
                display: block !important;
            }
        }
    }
    .modal-footer{
        div{
            width: 100%;
        }
    }
  }