@import "./assests/colors.scss";

.searchfield{
  margin-top: 30vh;
  
  width: 100%;
  
  
  
  .searchbar{
    display: block;
    margin: 0 auto;
    width: 50vw;
    
    input, button, select {
      box-shadow: none !important;
      background-color: white !important;
      padding: 0;
      margin: 0;
      border: 0;
      height: 40px !important; 
      outline: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;
    }

    .dropdown{
      width: 10%;
      margin: 0 !important;
      display: block;
      float: left;

      Button{
        width: 100%;
        border-radius: 8px 0 0 8px;
        &:hover{
          color: $background;
        }
        &:focus{
          border: none;
          color: $background;
        }
      }
    }
  
    input{
      width: 80%;
      padding-left: 2%;
      color: $background;
      border-radius: 0px !important;
      &:focus{
        outline: none;
      }  
    }

    button{
      width: 10%;
      padding-right: 20px !important;
      text-align: right;
      color: grey;
      border-radius: 0 8px 8px 0;
      cursor: pointer;
      transition: color .2s ease-in-out;

      .fa-search{
        color: green !important;
      }
    }
  }

  .insinuator{
    position: absolute;
    width: 50%;
    z-index: 999;
    left: 25%;
    overflow: hidden;
    transition: all ease-in-out .4s;
    

    .insinuatorBar{
      background-color: rgba($movieBackground , .98);
      width: 25%;
      float: left;
      height: 150px;
      cursor: pointer;
      transition: all .1s ease-in-out;
      font-size: 12px;
      overflow: hidden;

      &:hover{
        background-color: $movieBackground;
      }
      img{
        margin: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 130px;
        max-width: 87px;
        width: auto;
        float: left;
      }
      ul{
        margin: 0;
        list-style: none;
        padding: 10px;
        display: block;
        li{
          color: $text-color;
        }
        .grey{
          color: grey;   
        }
      }
    }  
  }
}

@media only screen and (max-width: 1600px) {
  .searchbar{
    width: 75% !important;
  }
  .insinuator{
    width: 75% !important;
    left: 12.5%;
    font-size: 20px;
  }
}
@media only screen and (max-width: 1100px) {
  .insinuator{
    height: 240px;
  }
  .insinuatorBar{
    height: 120px !important;
    img{
      height: 100px !important;
      max-width: 71px !important;
    }
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 900px) {
  .insinuator{
    height: 480px;
  }
  .insinuatorBar{
    height: 120px !important;
    width: 50% !important;
    img{
      height: 100px !important;
      max-width: 67px !important;
    }
    font-size: 10px !important;
  }
}












@media only screen and (max-width: 850px) {
   .dropdown{
     width: 20% !important;
     button{
      text-align: center;
     }
   }
   input{
     width: 60% !important;
     text-align: center;
   }
   button[type=submit]{
     width: 20% !important;
   }

}